.navbar-brand {
    padding-left: 0px;
}
#alert-bar{
    margin-top: -21px;
}

#rightbar {
    width: 240px;
    border-right: 1px solid whitesmoke;
    float: right;
    padding-right: 20px;
}
#rightbar .section-item {
    padding: 5px 10px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
}
#rightbar .section-item:hover{
    color: firebrick;
    border-bottom: 1px solid firebrick;
}

#main-board{
    /*max-width: 480px;*/
    margin: 0 auto;
}
#main-board .content{
    display: block;
    border-bottom: 1px solid #cccccc;
    padding: 15px 20px;
}

#main-board .content .label-container{
}

#main-board .content a:hover{
    text-decoration: none;
}

#main-board .content:first-child{
    padding-top: 0px;
}

#main-board .sentence-item {
    padding: 0px;
    background-color: white;
    border: none;
    text-align: left;
}

#main-board .sentence-item .content{
    color: black;
}
#main-board .sentence-item .content:hover{
    color: black;
    text-decoration: none;
}

#main-board .sentence-item .fa-star {
    position: absolute;
    margin-left: -25px;
    margin-top: 3px;
    cursor: pointer;
}
#main-board .sentence-item .fa-star:hover, #main-board .sentence-item .fa-star.active {
    color: firebrick;
}

#modify-board, #write-board{
    max-width: 480px;
    margin: 0 auto;
}

.view-hide{
    display: none;
}

.loading-container{
    display: none;
    margin: 20px auto;
}







/*modal stuff*/
.modal-content{
    padding: 50px;
}

