{%extends "base.html"%}

{%block content%}

    <div id="label-containers" class="col-md-4">
        {%for label in labels%}
            <a data-label-id="{{label.id}}" class="label label-primary" href="#labelFilter={{label.id}}">{{label.name}}({{label.count}})</a>

        {%endfor%}

    </div>

    <div id="main-board" class="col-md-6">
        <div class="sentence-container">
            {%for inspiration in inspiration_list%}
            <div href="/inspiration/{{inspiration.id}}/modify" class="content clearfix">
                <a href="/inspiration/{{inspiration.id}}/modify"><pre class="sentence-item">{{inspiration.content}}</pre></a>
                <span class="label-container">
                    {%for label in inspiration.labels%}
                    <a class="label label-default" href="#labelFilter={{label.id}}">{{label.name}}</a>
                    {%endfor%}
                </span>
            </div>
            {%endfor%}
        </div>
    </div>


{%endblock%}








