{%extends "base.html"%}

{%block content%}

    <div id="label-containers" class="col-md-2">
        <a data-label-id="0" class="label label-danger" href="#labelFilter=0">没有标签</a>
        {%for label in labels%}
            <a data-label-id="{{label.id}}" class="label label-primary" href="#labelFilter={{label.id}}">{{label.name}}({{label.count}})</a>

        {%endfor%}

    </div>

    <div id="main-board" class="col-md-6">
        <div id="main-view" class="sentence-container view-hide">
        </div>
        <div id="label-filter-view" class="sentence-container view-hide">
        </div>
        <div id="search-view" class="sentence-container view-hide">
        </div>


        <!-- <div class="text-center loading-container"><span class=" glyphicon glyphicon-refresh"></span> loading ... </div> -->
    </div>
    <div id="modify-area" class="col-md-4">

    </div>




{%endblock%}

{%block extra%}
{%include "view-template/inspiration-list-item.html"%}
{%include "view-template/modify-board.html"%}

{%endblock%}


{%block script%}
<script data-main="/static/main"  src="/static/libs/require.js"></script>
{%endblock%}




